<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- First grid content here -->
    </div>
    <div class="col-md-4">
      <!-- Second grid content here -->
      <form [formGroup]="myform">
        <label for="name" class="label">Nom:</label>
        <input type="text" formControlName="nom" class="form-control" id="name">
        <!-- validation-->
        <div *ngIf="myform.controls['nom'].invalid && (myform.controls['nom'].dirty || myform.controls['nom'].touched)" class="alert alert-danger">
          <div *ngIf="myform.controls['nom'].errors?.['required']">
            Nom est obligatoire.
          </div>
          <div *ngIf="myform.controls['nom'].errors?.['minlength']">
            le nom doit contenir au moins 3 caractères.
          </div>
          <div *ngIf="myform.controls['nom'].errors?.['maxlength']">
            le nom doit contenir au max 20 caractères.
          </div>
          </div>
          <label for="name" class="label">Prénom:</label>
          <input type="text" formControlName="prenom" class="form-control" id="name">
          <!-- validation-->
          <div *ngIf="myform.controls['prenom'].invalid && (myform.controls['prenom'].dirty || myform.controls['prenom'].touched)" class="alert alert-danger">
            <div *ngIf="myform.controls['prenom'].errors?.['required']">
              Prénom obligatoire.
            </div>
            <div *ngIf="myform.controls['prenom'].errors?.['minlength']">
              le Prénom doit contenir au moins 3 caractères.
            </div>
            <div *ngIf="myform.controls['prenom'].errors?.['maxlength']">
              le Prénom doit contenir au max 20 caractères.
            </div>
            </div> 
            <label>age</label>
            <input type="number" formControlName="age" class="form-control" id="age">
            <div *ngIf="myform.controls['age'].invalid && (myform.controls['age'].dirty|| myform.controls['age'].touched) ">
                <div *ngIf="myform.controls['age'].errors?.['required']">
                    age obligatoire.
                </div>
                <div *ngIf="myform.controls['age'].errors?.['min']">
                    age doit être supérieur à 18.
                </div>
                <div *ngIf="myform.controls['age'].errors?.['max']">
                    age doit être inférieur à 60.
                </div>

            </div>
            <input type="submit" class="btn btn-primary" value="Envoyer" >
            <br>
            {{myform.value|json}}

      </form>
    </div>
    <div class="col-md-4">
      <!-- Third grid content here -->
    </div>
  </div>
</div>

